<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body">
    <p>{{descr}}</p>
    <button type="button" class="btn btn-default" ng-click="getInfo()">I am fearless!</button>
    <ul class="list-group">
      <li class="list-group-item"><strong>IP Address</strong>: {{info.ip || 'null'}}</li>
      <li class="list-group-item"><strong>Operating System</strong>: {{info.os || 'null'}}</li>
      <li class="list-group-item"><strong>Language</strong>: {{info.lang || 'null'}}</li>
    </ul>

  </div>
</div>